/*
 * Региональный фонд иконки
 */

.icon-big-payment {
    background: url(../img/payment.png) no-repeat -1px 0;
}

.icon-big-requestTransferRf {
    background: url(../img/requestTransferRf.png) no-repeat -1px 0;
}

.icon-big-transferRf {
    background: url(../img/transferRf.png) no-repeat -1px 0;
}

.icon-big-contractRf {
    background: url(../img/contractRf.png) no-repeat -1px 0;
}
