/*
 * Иконки меню ЖКУ дома
 */
.icon-house-key {
    background-image: url(../img/icons/house_key.png) !important;
}

.no-tree-icons .x-tree-icon {
    display: none !important;
}

.x-grid-row.font-green-noimportant .x-grid-cell {
    color: #00AD0E;
}

.x-grid-row.font-blue-noimportant .x-grid-cell {
    color: #0094ff;
}

.x-grid-row.font-darkgray-noimportant .x-grid-cell {
    color: #A9A9A9;
}

.x-grid-row.font-tomato-noimportant .x-grid-cell {
    color: #FF6347;
}

.x-grid-row.font-green-change-cell .x-change-cell {
    color: #00AD0E;
}

.x-grid-row.font-tomato-change-cell .x-change-cell {
    color: #FF6347;
}

.x-grid-row.font-color1-noimportant .x-grid-cell {
    color: #ee4370;
}

.x-grid-row.font-color2-noimportant .x-grid-cell {
    color: #11b139;
}
