.print-report-page {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #4B4B4B;
    font-size: 0.82em;
}

.descTitle {
    font-weight:100;
    font-size: 1.9em;
    text-align: left;
    padding-right: 10px; 
    padding: 3px 5px 10px; 
    color: #4779A5;
    vertical-align:middle;
}

.descSmallTitle {
    font-weight: 100;
    font-size: 1.3em;
    text-align: left;
    padding-right: 10px;
    padding: 3px 5px 10px;
    vertical-align: middle;
}

.warningXlsxReport {
    font-size: 13px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-color: #5bc0de;
    border-left-width: 5px;
    border-radius: 3px;
    color: #333;
}

.warningXlsxReport a { 
    vertical-align: 0;
    color:#428bca; 
}

.warningXlsxReport a:hover { 
    text-decoration: underline;
}


.textblock {
    line-height: 1.6em;
    color: #333;
    font-size: 13px;
    font-weight:100;
}

.x-panel-body-report {
    background: #f9f9f9;
}

.x-btn-reportButton-small .x-btn-inner {
    padding: 12px 10px;
    height: auto !important;
    text-align: left !important;
    border: 1px solid #ddd;
    margin-top: -1px;
    white-space: normal;
    background-color: #fff;
    line-height: 20px !important;
    color: #333;
    overflow: visible;
}

.x-panel-header-reportlist-item-collapsed {
    border-radius: 4px;
}

.x-btn-reportButton-small .x-btn-inner:hover {
    background-color: #EAEBF2;   
}

.x-btn-reportButton-small:last-child .x-btn-inner {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.x-panel-reportlist-item .x-panel-header {
    border-width: 1px!important;
    border-top-color: #4C91CF !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #4C91CF !important;
    padding: 10px; 
}

.x-panel-reportlist-item .x-panel-header .x-panel-header-text-reportlist-item {
    color: #fff;   
}

.x-panel-reportlist-item .x-panel-header .x-tool img {
    background-image: url('img/tool-sprites.png');
    background-position: 0 -14px;
}

.x-panel-header-reportlist-item-collapsed .x-tool img {
     background-position: 0 0 !important;
}

.x-field-search-input input {
    background: white;
    padding-left: 28px;
    background-image: none;
    border-color: #b5b8c8;
    border-radius: 15px;
}

.x-container-search-helper {
    width: 16px !important;
    height: 16px !important;
    background: url('img/search.png') no-repeat 0 0;
    position: absolute !important;
    top: 22px !important;
    left: 22px !important;
    z-index: 1;
}

.x-panel-report-tabpanel {
    border-left: 1px solid #4C91CF;   
}

