.x-tree-icon-leaf.struct {
  width: 16px;
  background-image: url('../../libs/ext/resources/themes/images/default/tree/folder.gif'); 
}

.x-tree-icon-parent.struct {
  width: 16px;
  background-image: url('../../libs/ext/resources/themes/images/default/tree/folder.gif'); 
}

.icon-big-house-passport {
    background: url(../img/housePassport.png) no-repeat -1px 0;
}

.icon-big-house-passport-prov {
    background: url(../img/housePassportProv.png) no-repeat -1px 0;
}

.icon-big-oki-paspport {
    background: url(../img/okiPaspport.png) no-repeat -1px 0;
}

.icon-big-oki-passport-prov {
    background: url(../img/okiPassportProv.png) no-repeat -1px 0;
}

.icon-big-public-serv-org {
    background: url(../img/publicServOrg.png) no-repeat -1px 0;
}

.icon-fill-button {
    width: 100px !important;
}

.expandable-panel-for-multy .x-tool {
    left: 0 !important;
}

.expandable-panel-for-multy .x-panel-header-text-container
{
    padding-left: 18px;
}