
.icon-big-mon {
    background: url(../img/mon.png) no-repeat -1px 0;
}

.icon-big-an {
    background: url(../img/an.png) no-repeat -1px 0;
}

.icon-big-ucp {
    background: url(../img/ucp.png) no-repeat -1px 0;
}

/*.micon-an_mon{
   background: url(../img/an_mon.png);
}*/
