<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <!-- License Validation Dialog -->
      <Dialog Id="LicenseValidationDlg" Width="370" Height="270" Title="Проверка лицензии - [ProductName]" NoMinimize="yes">
        <Control Id="LicenseLabel" Type="Text" X="10" Y="50" Width="120" Height="10" TabSkip="no" Text="&amp;Текст лицензии:" />
        <Control Id="LicenseKey" Type="Edit" X="10" Y="62" Width="350" Height="130" Property="LICENSE_TEXT" Text="{102400}">
        </Control>

        <Control Type="PushButton" Id="btnChange" Width="180" Height="17" X="100" Y="200" Text="Загрузить файл лицензии...">
          <Publish Event="DoAction" Value="GetLicenseFileAction" Order="1">1</Publish>
          <Publish Property="LICENSE_TEXT" Value="[LICENSE_TEXT]" >1</Publish>
        </Control>

        <Control Id="Next" Type="PushButton" X="232" Y="243"
          Width="56" Height="17" Default="yes" Text="&amp;Далее">
          <Publish Event="DoAction" Value="ValidateLicenseAction" Order="1">1</Publish>
          <Publish Event="NewDialog" Value="ErrorMessageDialog" Order="7">LicenseValid = "0"</Publish>
          <Publish Event="NewDialog" Value="IisSetupDlg" Order="10">LicenseValid = "1"</Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" X="304" Y="243"
                Width="56" Height="17" Cancel="yes" Text="Отмена">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Выберите файл лицензии. Он идет в комплекте с приложением</Text>
        </Control>

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Проверка файла лицензии продукта</Text>
        </Control>

        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>

      <!-- IIS Configuration Dialog -->
      <Dialog Id="IisSetupDlg" Width="370" Height="270" Title="Настройки сайта - [ProductName]" NoMinimize="yes">
        <Control Id="WebsiteNameLabel" Type="Text" X="10" Y="53" Width="220" Height="15" TabSkip="no" Text="&amp;Наименование виртуальной директории:" />
        <Control Id="WebsiteNameEdit" Type="Edit" X="182" Y="50" Width="150" Height="18" Property="VIRTUAL_APP_NAME" Text="{80}" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Назад">
          <Publish Event="NewDialog" Value="LicenseValidationDlg">1</Publish>
        </Control>

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="&amp;Далее">
          <Publish Event="NewDialog" Value="DbSettingsDlg"><![CDATA[VIRTUAL_APP_NAME <> ""]]></Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Отмена">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Пожалуйста заполните настройки конфигурации IIS</Text>
        </Control>

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Настройки IIS</Text>
        </Control>

        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>

      <!-- Db Settings Dialog -->
      <Dialog Id="DbSettingsDlg" Width="370" Height="270" Title="Настройки подключения к базе данных - [ProductName]" NoMinimize="yes">
        <Control Id="ServerNameLabel" Type="Text" X="10" Y="53" Width="220" Height="15" TabSkip="no" Text="&amp;Адрес сервера БД" />
        <Control Id="ServerNameEdit" Type="Edit" X="180" Y="50" Width="150" Height="18" Property="SERVER_NAME" Text="{80}" />

        <Control Id="DbNameLabel" Type="Text" X="10" Y="73" Width="160" Height="15" TabSkip="no" Text="&amp;Наименование базы данных:" />
        <Control Id="DbNameEdit" Type="Edit" X="180" Y="70" Width="150" Height="18" Property="DB_NAME" Text="{80}" />

        <Control Id="LoginLabel" Type="Text" X="10" Y="93" Width="160" Height="15" TabSkip="no" Text="&amp;Логин к базе данных:" />
        <Control Id="LoginEdit" Type="Edit" X="180" Y="90" Width="150" Height="18" Property="LOGIN" Text="{80}" />

        <Control Id="PasswordLabel" Type="Text" X="10" Y="113" Width="160" Height="15" TabSkip="no" Text="&amp;Пароль к базе данных:" />
        <Control Id="PasswordEdit" Type="Edit" X="180" Y="110" Width="150" Height="18" Property="PASSWORD" Text="{80}" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Назад">
          <Publish Event="NewDialog" Value="IisSetupDlg">1</Publish>
        </Control>

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="&amp;Далее">
          <Publish Event="NewDialog" Value="CustomizeDlg">(NOT SERVER_NAME = "") AND (NOT DB_NAME = "") AND (NOT LOGIN = "") AND (NOT PASSWORD = "")</Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Отмена">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Введите настройки подключения к базе данных. Все поля обязательный к заполнению!</Text>
        </Control>

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Настройки подключения к базе данных</Text>
        </Control>

        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>

      <!-- Error License Validation Dlg -->
      <Dialog Id="ErrorMessageDialog" Width="370" Height="270"
               Title="Результат проверки лицензии - [ProductName]" NoMinimize="yes">
        <Control Id="MessageText" Type="Text"
                 Width="319" Height="170" X="20" Y="50"
                 TabSkip="no"
                 Text="[LastMessage]"
                 />

        <Control Id="Back" Type="PushButton" X="230" Y="243"
          Width="56" Height="17" Text="&amp;Назад">
          <Publish Event="NewDialog" Value="LicenseValidationDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243"
                Width="56" Height="17" Cancel="yes" Text="Отмена">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Результат проверки лицензии</Text>
        </Control>

        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>