.icon-big-constructionObjectMassStateChange {
    background: url(../img/constructionObjectMassStateChange.png) no-repeat -1px 0;
}

.icon-big-courtordergku {
    background: url(../img/courtordergku.png) no-repeat -1px 0;
}

.icon-big-payment {
    background: url(../img/payment.png) no-repeat -1px 0;
}

.x-panel-header-text{
    white-space: normal;
}

.debt-table{
    margin: 10px auto;
    align-items: start;
    width: 95%;
}

.debt-table, .debt-table td{
    border: 2px solid #547191;
    padding: 5px;
}

.debt-table-header{
    width: 80%;
}

.debt-table-text{
    color: #547191;
    font-weight: 600;
    font-size: 14px;
}

.attention-row, .attention-row td{
    background-color: #e86464;
    color: white;
}

.result-table{
    margin: 10px auto;
    align-items: start;
    width: 95%;
}

.result-table, .result-table td{
    border: 1px solid #363636;
    padding: 5px;
}

.result-table-header{
    width: 80%;
}

.result-table-text{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #363636;
}

.result-table-org-text{
    color: #547191;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    padding-left: 15px;
}

.result-attention-row, .result-attention-row td{
    background: linear-gradient(180deg, rgba(223, 64, 64, 0.35) 0%, rgba(223, 64, 64, 0.2) 100%);
}

.result-success-row, .result-success-row td{
    background: linear-gradient(180deg, rgba(115, 192, 37, 0.5) 0%, rgba(115, 192, 37, 0.15) 100%);
}

.result-table-link{
    text-decoration: none;
    color: #363636;
}

.toolbar-btn
{
    border-color: #b8cde3;
    background: linear-gradient(#d3e1f1, #c1d7e9 50%, #bbd8ee);
    -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}
.toolbar-btn:hover
{
    background: linear-gradient(#a0bde2, #b1c6e3 50%, #9cbbe7);
    -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}