/*
 * Капитальный ремонт иконки
 */

.icon-big-bankStatement {
    background: url(../img/bankStatement.png) no-repeat -1px 0;
}

.icon-big-estimate {
    background: url(../img/estimate.png) no-repeat -1px 0;
}

.icon-big-objCrMassChangeStatus {
    background: url(../img/objCrMassChangeStatus.png) no-repeat -1px 0;
}

.icon-big-objectCr {
    background: url(../img/objectCr.png) no-repeat -1px 0;
}

.icon-big-competition {
    background: url(../img/competition.png) no-repeat -1px 0;
}

.icon-big-paramsCr {
    background: url(../img/paramsCr.png) no-repeat -1px 0;
}

.icon-big-paymentOrder {
    background: url(../img/paymentOrder.png) no-repeat -1px 0;
}

.icon-big-performedWorkAct {
    background: url(../img/performedWorkAct.png) no-repeat -1px 0;
}

.icon-big-programmCr {
    background: url(../img/programmCr.png) no-repeat -1px 0;
}

.icon-big-qualification {
    background: url(../img/qualification.png) no-repeat -1px 0;
}

.icon-big-buildClw {
    background: url(../img/buildClw.png) no-repeat -1px 0;
}

.icon-big-buildClwSettings {
    background: url(../img/buildClwSettings.png) no-repeat -1px 0;
}