.icon_wand
{
    background-image: url(../icon/wand.png) !important;
}

.icon_wizard
{
    background-image: url(../img/wizard.png) !important;
    background-repeat: no-repeat;
    background-position:center center;
}

.icon_apply
{
    background-image: url(../img/apply.png) !important;
    background-repeat: no-repeat;
    background-position:center center;
}

.icon_error
{
    background-image: url(../img/error.png) !important;
    background-repeat: no-repeat;
    background-position:center center;
}

.icon_warning
{
    background-image: url(../img/warning.png) !important;
    background-repeat: no-repeat;
    background-position:center center;
}

.icon_cross
{
    background-image: url(../icon/cross.png) !important;
}

.icon_arrow-180
{
    background-image: url(../icon/arrow-180.png) !important;
}

.icon_arrow
{
    background-image: url(../icon/arrow.png) !important;
}

.icon_task
{
    background-image: url(../icon/task.png) !important;
}

.icon_package
{
    background-image: url(../../libs/ext/resources/themes/images/default/tree/folder.gif) !important;
}

.icon_prepareData
{
    background-image: url(../icon/prepareData.png) !important;
}

.icon_send
{
    background-image: url(../icon/send.png) !important;
}

.icon_sign_send
{
    background-image: url(../icon/sign_send.png) !important;
}

.icon_view
{
    background-image: url(../icon/view.png) !important;
}