/*
 * hyper alert link style
 */

.x-tree-checkbox-partially-checked .x-tree-checkbox {
    background-image: url(../img/checkboxes.gif);
    background-position: 0 -26px;
}

.underlined-grid-row .x-grid-cell {
    border-bottom: solid #99bbe8 2px
}

.alert-hyperlink {
    color: #08C;
    cursor: pointer;
    vertical-align: top;
    text-decoration: underline;
}

.alert-hyperlink:hover,
.alert-hyperlink:focus {
    color: #04C;
}

/*
 * Подсветка строк грида
 */
    .x-subsidy-row .b-editable-spec-allrows {
        background-color: #fefee0 !important;
    }

    .x-grid-row.back-coralyellow .x-grid-cell,
    .x-subsidy-row .b-editable,
    .x-subsidy-spec-row .b-editable-spec,
    .x-coralyellow-row .b-editable {
        background-color: #fefee0 !important;
    }

    .x-grid-row.back-orange .x-grid-cell {
        background-color: #FFA500 !important;
    }

    .x-grid-row.back-coralblue .x-grid-cell {
        background-color: #d5ecfd !important;
    }

    .x-grid-row.back-coralpurple .x-grid-cell {
        background-color: #c8a2c8 !important;
    }

    .x-grid-row.back-coralred .x-grid-cell {
        background-color: #FFE2D5 !important;
    }

    .x-grid-row.back-coralgreen .x-grid-cell {
    background-color: #DBF6D3 !important;
    }

    .x-grid-row.back-black .x-grid-cell {
        background-color: #585858 !important;
    }

    .x-grid-row.back-coralyellow .x-action-col-cell,
    .x-grid-row.back-coralred .x-action-col-cell,
    .x-grid-row.back-coralgreen .x-action-col-cell {
        background-color: #fff !important;
    }

    .x-summary .x-grid-cell {
        background-color: #f5f5f5;
        font-weight: 600;
    }
	
    .x-grid-row.back-pink .x-grid-cell {
		background-color: #F7CFCE !important;
    }

	.x-grid-row.back-strawyellow .x-grid-cell {
		background-color: #FFF1B0 !important;
    }
    
.x-subsidy-row .b-editable-spec-allrows {
    background-color: #fefee0 !important;
}

.x-grid-row.back-coralyellow .x-grid-cell,
.x-subsidy-row .b-editable,
.x-subsidy-spec-row .b-editable-spec,
.x-coralyellow-row .b-editable {
    background-color: #fefee0 !important;
}

.x-grid-row.back-orange .x-grid-cell {
    background-color: #FFA500 !important;
}

.x-grid-row.back-red .x-grid-cell {
    background-color: #FA8072 !important;
}

.x-grid-row.back-coralred .x-grid-cell {
    background-color: #FFE2D5 !important;
}

.x-grid-row.back-green .x-grid-cell {
    background-color: #95c288 !important;
}

.x-grid-row.back-coralgreen .x-grid-cell {
    background-color: #DBF6D3 !important;
}

.x-grid-row.back-coralyellow .x-action-col-cell,
.x-grid-row.back-coralred .x-action-col-cell,
.x-grid-row.back-coralgreen .x-action-col-cell {
    background-color: #fff !important;
}

.x-summary .x-grid-cell {
    background-color: #f5f5f5;
    font-weight: 600;
}

.x-grid-row.back-pink .x-grid-cell {
    background-color: #F7CFCE !important;
}

.x-grid-row.back-strawyellow .x-grid-cell {
    background-color: #FFF1B0 !important;
}

/*
 * ЖКХ иконки
 */

.icon-big-menuPerson {
    background: url(../img/menuPerson.png) no-repeat -1px 0;
}

.icon-big-menuRequestToExamRegister {
    background: url(../img/menuRequestToExamRegister.png) no-repeat -1px 0;
}

.icon-big-menuManorgRequestLicense {
    background: url(../img/menuManorgRequestLicense.png) no-repeat -1px 0;
}

.icon-big-menuManorgLicenseRegister {
    background: url(../img/menuManorgLicenseRegister.png) no-repeat -1px 0;
}

.icon-big-builder {
    background: url(../img/builder.png) no-repeat -1px 0;
}

.icon-big-contragent {
    background: url(../img/contragent.png) no-repeat -1px 0;
}

.icon-big-emergencyObj {
    background: url(../img/emergencyObj.png) no-repeat -1px 0;
}

.icon-big-houseMonitoring {
    background: url(../img/houseMonitoring.png) no-repeat -1px 0;
}

.icon-big-localGovernment {
    background: url(../img/localGovernment.png) no-repeat -1px 0;
}

.icon-big-manOrg {
    background: url(../img/manOrg.png) no-repeat -1px 0;
}

.icon-big-municipality {
    background: url(../img/municipality.png) no-repeat -1px 0;
}

.icon-big-orgForm {
    background: url(../img/orgForm.png) no-repeat -1px 0;
}

.icon-big-position {
    background: url(../img/position.png) no-repeat -1px 0;
}

.icon-big-realObj {
    background: url(../img/realObj.png) no-repeat -1px 0;
}

.icon-big-resettlementProg {
    background: url(../img/resettlementProg.png) no-repeat -1px 0;
}

.icon-big-serviceOrg {
    background: url(../img/serviceOrg.png) no-repeat -1px 0;
}

.icon-big-supplyResOrg {
    background: url(../img/supplyResOrg.png) no-repeat -1px 0;
}

.icon-big-unitMeasure {
    background: url(../img/unitMeasure.png) no-repeat -1px 0;
}

.icon-big-work {
    background: url(../img/work.png) no-repeat -1px 0;
}

.icon-big-inspector {
    background: url(../img/inspector.png) no-repeat -1px 0;
}

.icon-big-instruction {
    background: url(../img/instruction.png) no-repeat -1px 0;
}

.icon-big-lastUserAction {
    background: url(../img/lastUserAction.png) no-repeat -1px 0;
}

.icon-big-news {
    background: url(../img/news.png) no-repeat -1px 0;
}

.icon-big-operator {
    background: url(../img/operator.png) no-repeat -1px 0;
}

.icon-big-role {
    background: url(../img/role.png) no-repeat -1px 0;
}

.icon-big-rolePermission {
    background: url(../img/rolePermission.png) no-repeat -1px 0;
}

.icon-big-stateTransferRule {
    background: url(../img/stateTransferRule.png) no-repeat -1px 0;
}

.icon-big-statePermission {
    background: url(../img/statePermission.png) no-repeat -1px 0;
}

.icon-big-state {
    background: url(../img/state.png) no-repeat -1px 0;
}

.icon-big-stateTransfer {
    background: url(../img/stateTransfer.png) no-repeat -1px 0;
}

.icon-big-templReplAdmin {
    background: url(../img/templReplAdmin.png) no-repeat -1px 0;
}

.icon-big-uniqueUsers {
    background: url(../img/uniqueUsers.png) no-repeat -1px 0;
}

.icon-big-userAction {
    background: url(../img/userAction.png) no-repeat -1px 0;
}

.icon-big-userActionStat {
    background: url(../img/userActionStat.png) no-repeat -1px 0;
}

.icon-big-printForm {
    background: url(../img/printForm.png) no-repeat -1px 0;
}

.icon-big-printFormCategory {
    background: url(../img/printFormCategory.png) no-repeat -1px 0;
}

.icon-big-reportPanel {
    background: url(../img/reportPanel.png) no-repeat -1px 0;
}

.icon-big-politicAuth {
    background: url(../img/politicAuth.png) no-repeat -1px 0;
}

.icon-big-belayMoAct {
    background: url(../img/belayMoAct.png) no-repeat -1px 0;
}

.icon-big-deliveryAgent {
    background: url(../img/deliveryAgent.png) no-repeat -1px 0;
}

.icon-big-debtorSetting {
    background: url(../img/debtorSetting.png) no-repeat -1px 0;
}

.icon-big-debtorClaimWork {
    background: url(../img/debtorClaimWork.png) no-repeat -1px 0;
}

.icon-big-constructor {
    background: url(../img/constructor.png) no-repeat -1px 0;
}

.icon-big-efRating {
    background: url(../img/efRating.png) no-repeat -1px 0;
}

.icon-big-analitics {
    background: url(../img/analitics.png) no-repeat -1px 0;
}

.micon-gkh-admin {
    background: url(../img/gkh-admin.png);
}

.micon-gkh-cap-repair {
    background: url(../img/gkh-cap-repair.png);
}

.micon-gkh-contragent {
    background: url(../img/gkh-contragent.png);
}

.micon-gkh-dict {
    background: url(../img/gkh-dict.png);
}

.micon-gkh-disinfo {
    background: url(../img/gkh-disinfo.png);
}

.micon-gkh-gji {
    background: url(../img/gkh-gji.png);
}

.micon-gkh-reg-fund {
    background: url(../img/gkh-reg-fund.png);
}

.micon-gkh-report {
    background: url(../img/gkh-report.png);
}

.icon-gkh-arrow-ns {
    background: url(../img/gkh_arrow_ns.png);
}

.icn-middle-state-permission {
    background-position: 0 -210px;
}

.icon-big-legalClaimWork {
    background: url(../img/legalClaimWork.png) no-repeat -1px 0;
}

.icon-big-individualClaimWork {
    background: url(../img/individualClaimWork.png) no-repeat -1px 0;
}

.icon-big-notify {
    background: url(../img/notify.png) no-repeat -1px 0;
}

.btn-b4:active .icn-middle-state-permission,
.btn-b4.x-menu-active .icn-middle-state-permission,
.btn-b4.x-btn-pressed .icn-middle-state-permission {
    background-position: -60px -210px;
}

/*
 * Для правки хедоров таблиц
 */

.x-large-head .x-column-header {
    padding-bottom: 28px;
}

.x-large-head .x-column-header-inner {
    text-align: center;
}

.x-column-header-inner .x-column-header-text {
    white-space: nowrap !important;
}

.x-large-head .x-column-header-inner .x-column-header-text {
    white-space: normal !important;
}

.x-large-head .x-container.x-gridheaderfilters-filter-container {
    bottom: 0px;
    position: absolute;
}

.x-grid-row-focused .x-grid-cell-inner {
    overflow: visible;
    white-space: normal;
}

/*Увеличенное меню*/
.thumb-wrap .big {
    width: 135px;
    height: 180px;
    padding: 0 10px;
}

.x-menu-item a {
    padding: 2px 2px 3px 32px;
}

/* Номер лицензии */
.lin-body {
    bottom: 0;
    right: 0;
    background-color: #90c3e5;
    background-color: rgba(144, 195, 229, 0.5);
}

.ver-body {
    bottom: 0;
    left: 0;
    background-color: #90c3e5;
    background-color: rgba(144, 195, 229, 0.5);
    position: absolute;
    z-index: 1;
}

.license-number {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    -ms-text-shadow: black 1px 1px 2px;
    text-shadow: black 1px 1px 2px;
    padding: 5px;
}

.headerregistred .x-window-header-text-default {
    color: #03a316;
}
.headerdeclined .x-window-header-text-default {
    color: red;
}

@font-palette-values --fpheaderregistred {
    font-family: "Bungee Spice";
    override-color: 0 #00ffbb, 1 #0ef04a;
}

.header {
    background: none;
}

.x-grid-row .progress-column {
    position: relative;
}

.x-grid-row .progress-column .x-grid-cell-inner {
    padding: initial;
}

.x-grid-row .progress-column .progress-column-bar {
    position: absolute;
    height: 100%;
    z-index: auto;
    border-radius: 2px;
}

.x-grid-row .progress-column .progress-column-value {
    position: relative;
    padding: 2px 6px 4px;
    z-index: auto;
}

.x-form-pencil-trigger {
    background: url('../img/icons/pencil.png') no-repeat 1px 2px;
    border: 1px;
}

.x-form-picture-trigger {
    background: url('../img/icons/map_go.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border: 1px;
}

/*Подсветка критичных сообщений*/
    .warning-message-red {
        color: red;
        font: bold 12px tahoma, arial, verdana, sans-serif;
    }
.gkh-notify {
    z-index: -1;
}

.gkh-notify > .gkh-notify-mask {
    background-color: #000;
    display: none;
}

.gkh-notify > .gkh-notify-window {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.icon-right-arrow-center {
    background: url(../img/arrow-green-right.png) no-repeat transparent center center;
    display: inline-block;
}

/* Корректировка положения иконки checkbox'а в menuitem */
.x-menu-item-icon.checkbox {
    margin-top: -2px;
}