source https://barsgroup.myget.org/F/b4/auth/3ef5eaa4-6139-4997-ad92-71947dcc67c0/
source https://barsgroup.myget.org/F/b4-dev/auth/3ef5eaa4-6139-4997-ad92-71947dcc67c0/
source https://barsgroup.myget.org/F/certified/auth/3ef5eaa4-6139-4997-ad92-71947dcc67c0/
source https://barsgroup.myget.org/F/common/auth/3ef5eaa4-6139-4997-ad92-71947dcc67c0/
source https://barsgroup.myget.org/F/gkh/auth/3ef5eaa4-6139-4997-ad92-71947dcc67c0/
source https://barsgroup.myget.org/F/paid/auth/3ef5eaa4-6139-4997-ad92-71947dcc67c0/

copy_local: false
content: none
redirects: on
framework: >= net40

nuget B4.Ecm7Migrator-Migrator
nuget B4.Ecm7Migrator-Oracle
nuget B4.Ecm7Migrator-PostgreSQL
nuget Bars.B4.Core ~> 3
nuget Bars.B4.Modules.Audit ~> 3
nuget Bars.B4.Modules.Caching.Redis ~> 3
nuget Bars.B4.Modules.Dapper ~> 3
nuget Bars.B4.Modules.DataExport ~> 3
nuget Bars.B4.Modules.Desktop ~> 3
nuget Bars.B4.Modules.Ecm7.Framework
nuget Bars.B4.Modules.Ecm7.Providers.Oracle.System
nuget Bars.B4.Modules.ESIA ~> 3
nuget Bars.B4.Modules.FIAS ~> 3
nuget Bars.B4.Modules.FileSystemStorage ~> 3
nuget Bars.B4.Modules.FileStorage >= 3
nuget Bars.B4.Modules.Tasks.Common >= 3
nuget Bars.B4.Modules.jQuery ~> 3
nuget Bars.B4.Modules.LicenseProvider ~> 3
nuget Bars.B4.Modules.Mapping.NHibernate ~> 3
nuget Bars.B4.Modules.Messenger ~> 3
nuget Bars.B4.Modules.News ~> 3
nuget Bars.B4.Modules.NHibernateChangeLog >= 3
nuget Bars.B4.Modules.NHibernateChangeLog.ExtJS4 ~> 3
nuget Bars.B4.Modules.NlogLogger ~> 3
nuget Bars.B4.Modules.Pivot.DX ~> 3
nuget Bars.B4.Modules.QueryDesigner ~> 3
nuget Bars.B4.Modules.QueryDesigner.ExtJS4 ~> 3
nuget Bars.B4.Modules.Queue.RabbitMQ.Web ~> 3
nuget Bars.B4.Modules.ReportDesigner ~> 3
nuget Bars.B4.Modules.ReportPanel ~> 3
nuget Bars.B4.Modules.Reports ~> 3
nuget Bars.B4.Modules.Security.Web ~> 3
nuget Bars.B4.Modules.Setup ~> 3
nuget Bars.B4.Modules.States ~> 3
nuget Bars.B4.Modules.StimulReportGenerator ~> 3
nuget Bars.B4.Modules.TaskManager ~> 3
nuget Bars.B4.Modules.Tasks.Executor ~> 3
nuget Bars.B4.Modules.Tasks.MasterApp ~> 3
nuget Bars.B4.Modules.Tasks.Web ~> 3
nuget Bars.B4.Modules.UserActivity ~> 3
nuget Bars.B4.Modules.XlsIO ~> 3
nuget Bars.B4.TestToolkit.Integrational ~> 3
nuget Bars.B4.Utils ~> 3
nuget Bars.Billing.IncrementalDataLoader
nuget Bars.KP60.Protocol
nuget Bars.Security >= 1.1.29 < 85
nuget CommandLineParser
nuget CryptoPro.Sharpei.Base
nuget CryptoPro.Sharpei.ServiceModel
nuget CsvHelper
nuget FastDBF
nuget ImportKP50Data
nuget Microsoft.AspNet.SignalR
nuget Moq
nuget Morpher
nuget MSBuild.Microsoft.VisualStudio.Web.targets
nuget ncalc
nuget NDbfReaderEx
nuget Newtonsoft.Json
nuget NLog
nuget NLog.Targets.Sentry
nuget Nuget.CommandLine
nuget nunrar
nuget Quartz
nuget SlowCheetah
nuget SpecFlow.NUnit
nuget Stimulsoft.Report.PostgreSQL
nuget Syncfusion.DocIO.Base
nuget System.Linq.Dynamic